<div class="vertical-menu">
  <!-- LOGO -->
  <div class="navbar-brand-box">
    <a href="/" class="logo logo-dark">
      <span class="logo-sm">
        <img src="/assets/images/logo-sm.png" alt="" height="24" />
      </span>
      <span class="logo-lg">
        <img src="/assets/images/logo-dark.png" alt="" height="24" />
      </span>
    </a>

    <a href="/" class="logo logo-light">
      <span class="logo-sm">
        <img src="/assets/images/logo-light-sm.png" alt="" height="24" />
      </span>
      <span class="logo-lg">
        <img src="/assets/images/logo-light.png" alt="" height="24" />
      </span>
      <span class="logo-lg-brand">
        <img src="/assets/images/logo-brand-light.png" alt="" height="24" />
      </span>
    </a>
  </div>

  <button
    type="button"
    class="btn btn-sm px-3 font-size-16 header-item vertical-menu-btn"
  >
    <i class="fa fa-fw fa-bars"></i>
  </button>

  <div data-simplebar class="sidebar-menu-scroll">
    <!--- Sidemenu -->
    <div id="sidebar-menu">
      <!-- Left Menu Start -->
      <ul class="metismenu list-unstyled" id="side-menu">
        <li>
          <a href="/">
            <i class="icon nav-icon" data-feather="briefcase"></i>
            <span class="menu-item" data-key="t-projects">Projects</span>
          </a>
        </li>
        <li>
          <a href="/users">
            <i class="icon nav-icon" data-feather="users"></i>
            <span class="menu-item" data-key="t-team-overview">Users</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- Sidebar -->
  </div>
</div>
